<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title=${filiaal.naam})"></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	<h1 th:text='${filiaal.naam}'></h1>
	<dl>
		<dt>Straat</dt><dd th:text='${filiaal.adres.straat}'></dd>
		<dt>Huisnr.</dt><dd th:text='${filiaal.adres.huisNr}'></dd>
		<dt>Postcode</dt><dd th:text='${filiaal.adres.postcode}'></dd>
		<dt>Gemeente</dt><dd th:text='${filiaal.adres.gemeente}'></dd>
		<dt>Type</dt><dd th:text="${filiaal.hoofdFiliaal ? 'Hoofdfiliaal' : 'Bijfiliaal'}"></dd>
		<dt>Waarde gebouw</dt>
			<dd><span th:text='${{filiaal.waardeGebouw}}'></span> &euro; (klik 
			<a th:href='@{/euro/{euro}/naardollar(euro=${filiaal.waardeGebouw})}'>hier</a> voor waarde in dollar.)</dd>
		<dt>In gebruikname</dt><dd th:text='${{filiaal.inGebruikName}}'></dd>
	</dl>
</body>
</html>